ion-toolbar{
  --background: #F2C13B;

}
ion-title {
  color: #fff;
  font-weight: bold;
  font-size: 25pt;
}


ion-content {
  --ion-background-color: #ffffff;


  ion-card {
    display: flex;
    background: #F2C13B;
    border-radius: 15px;
  }

  ion-list {
    font-family: Spartan;
    background: transparent;
  }

  ion-item{
    font-family: Spartan;
    --padding-start: 0px;
    --padding-bottom: 0px;
  }

}

