<ion-header >
  <ion-toolbar >
    <ion-title class="ion-text-center">
      Integra Vitta
    </ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/planos">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card button="true">
    <ion-card-content>

      <ion-list lines="full">
        <ion-list-header>
          <h1>{{plano.nome}}</h1>
        </ion-list-header>

        <ng-template ngFor let-item [ngForOf]="plano.exercicios" let-i="index" [ngForTrackBy]="trackByFn">
          <ion-item color="none" href="exercicio-selecionado" (click) = "abrirExercicio(item)">
            <ion-label>
              {{item.nome}}
            </ion-label>
            <span>{{item.series}} x {{item.repeticoes}}</span>
          </ion-item>
        </ng-template>
        
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
