ion-toolbar {
  --ion-toolbar-background: #ffffff;
}

ion-content {
  --ion-background-color: #ffffff;


  ion-card {
    display: flex;
    background: #F2C13B;
    border-radius: 15px;
  }

  ion-list {
    font-family: Spartan;
    background: transparent;
  }

  ion-item{
    font-family: Spartan;
    --padding-start: 0px;
    --padding-bottom: 0px;
  }

}

