<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Integra Vitta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card button="true">
    <ion-card-content>

      <ion-list lines="full">
        <ion-list-header>
          <h1>Plano A</h1>
        </ion-list-header>

        <ion-item color="none" href="exercicio-selecionado">
          <ion-label>
            Exercicio 1
          </ion-label>
        </ion-item>

        <ion-item color="none" href="exercicio-selecionado">
          <ion-label>
            Exercicio 2
          </ion-label>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
