<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Integra Vitta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card button="true">
    <ion-card-header>
      <ion-card-title *ngIf="this.pagamento == 1" [ngStyle]="{'color': 'green'}">Olá, Wilson! Seu pagamento está OK.</ion-card-title>
      <ion-card-title *ngIf="this.pagamento == 2" [ngStyle]="{'color': 'black'}">Olá, Wilson! Seu pagamento está próximo.</ion-card-title>
      <ion-card-title *ngIf="this.pagamento == 3" [ngStyle]="{'color': 'rgb(230,0,0)'}">Olá, Wilson! Seu pagamento está atrasado!</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-card button="true">
    <ion-card-content>

      <ion-list lines="full">
        <ion-list-header>
          <h1>Pagamentos Anteriores</h1>
        </ion-list-header>

        <ion-item color="none">
          <ion-label>
            Setembro
          </ion-label>
          <span><ion-label>Pago em 30/09</ion-label></span>
        </ion-item>
        
        <ion-item color="none">
          <ion-label>
            Agosto
          </ion-label>
          <span><ion-label>Pago em 31/08</ion-label></span>
        </ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
