<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Integra Vitta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Planos</h1>

  <div class="ion-text-center">
  <ion-card button="true" href="exercicio">
    <ion-card-header>
      <ion-card-title>Plano A</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card button="true">
    <ion-card-header>
      <ion-card-title>Plano B</ion-card-title>
    </ion-card-header>
  </ion-card>
  </div>
</ion-content>

