<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Integra Vitta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card button="true" href="exercicio">
    <ion-card-header>
      <ion-card-title>Plano A</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card button="true">
    <ion-card-header>
      <ion-card-title>Plano B</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>

