ion-content{
  --ion-background-color:white;

  .logo{
    margin-top: 40px;
  }

  .title1{
    color:#000;
    font-family: spartan;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .item{
    --background: #C4C4C4;
    border-radius: 15px;
    height: 55px;
    font-family: Roboto;
    margin-top: 15px;

    ion-input{
      --color: #000;
      --placeholder-color: #000;
      font-size: 15px;
      --padding-top: 10px;
      --padding-bottom: 15px;
    }

  }

 .button{
    margin-top: 50px;
    --background: #F2C13B;
    color: #fff;

    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    height: 40px;

    a{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 16px;
    }
  }
}
