<ion-header class="ion-no-border"> </ion-header>

<ion-content class="ion-padding ion-text-center">
  <img class="logo" src="../../assets/images/logo_login.svg"/>

  <h1 class="title1">Bem Vindo a Integra Vitta</h1>

  <ion-item class="item">
    <ion-label position="floating" class="textColor">Email</ion-label>
    <ion-input #email type="text"></ion-input>
  </ion-item>

  <ion-item class="item">
    <ion-label position="floating" class="textColor">Senha</ion-label>
    <ion-input #password type="text"></ion-input>
  </ion-item>

  <div class="button ion-text-center">
    <ion-button class="button-signup" expand="block" shape="round" (click)="login(email.value, password.value)">ENTRAR</ion-button>
    <a href="login" class="forgot">ESQUECE A SENHA?</a>
  </div>
</ion-content>
