ion-toolbar,
ion-title {
  padding: 15px;
  font-family: Spartan;
  font-weight: 600;
  font-size: 40px;
  color: #F2C13B;
}



ion-content{
  .photo_information{
    .photo{
      width: 150px;
      margin: 50px auto;
      height: 150px;
      left: 95px;
      top: 58px;
      display: block;
    }

    span{
      margin: 15px 0;
      font-size: 15px;
      font-family: monospace;
      display: block;
    }
  }
}
