<ion-content>

  <div class="bg">
    <img src="assets/images/IntegraVitta_logo.jpg">
  </div>

  <div class="container">
    <div class="photo_information">
      <ion-img *ngIf = '!user || !user.photo' class="photo" src="assets/images/user.svg" (click)="presentModal()"></ion-img>
      <ion-img *ngIf = 'user && user.photo' class="photo" [src]="this.user.photo" (click)="presentModal()"></ion-img>

      <div class="nome ion-text-center">{{user.nome}}</div>
    </div>
  </div>

  <div class="card-menu">
    <ion-card text-center button=true href="planos">
      <h2>Planos</h2>
    </ion-card>
    <ion-card text-center button=true href="pay">
      <h2>Pagamentos</h2>
    </ion-card>
  </div>


</ion-content>