<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/exercicio">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Exercício</h1>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title id="cardTitulo">{{exercicio.nome}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <h1>Serie</h1>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>{{exercicio.series}} x {{exercicio.repeticoes}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <h1>Músculo</h1>
  <ion-card class="card">
    <ion-card-content>
      <ion-card-title>{{exercicio.trabalha}}</ion-card-title>
    </ion-card-content>
  </ion-card>

  <h1>Exemplo</h1>
  <ion-img [src]=exercicio.preview></ion-img>
</ion-content>
