ion-content {
  h1{
    font-family: Spartan;
    font-size: 20px;
  }
  .card{
    //display: flex;
    font-family: Roboto;
    background:#F2C13B;
    border-radius: 15px;
    color: #000;
    margin-bottom: 50px;
  }
}
