<ion-header >
  <ion-toolbar >
    <ion-title class="ion-text-center">
      Integra Vitta
    </ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/main">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Planos</h1>

  <div class="ion-text-center">
    <ng-template ngFor let-item [ngForOf]="planos" let-i="index" [ngForTrackBy]="trackByFn">
      <ion-card button="true" href="exercicio" (click) = "abrirPlano(item)">
        <ion-card-header>
          <ion-card-title>{{item.nome}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-template>
  </div>
</ion-content>

