ion-toolbar{
  --background: #F2C13B;

}
ion-title {
  color: #fff;
  font-weight: bold;
  font-size: 25pt;
}

ion-content {

  --ion-background-color: #fff;

  h1{
    font-family: Spartan;
    color: #000;
    margin-bottom: 25px;
  }

  ion-card {
    display: flex;
    background: #F2C13B;
    border-radius: 15px;
    margin-bottom: 20px;

    ion-card-title {
      font-family: Spartan;
      color: #000;
    }
  }
}
