ion-toolbar{
  --background: #F2C13B;

}
ion-title {
  color: #fff;
  font-weight: bold;
  font-size: 25pt;
}

ion-content {

  --ion-background-color: #ffffff;


  ion-card {
    background-color: #eee;
    color: #000;
  }
  cardgreen {
    display: flex;
    background: #0aa505;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
  }
  cardred {
    display: flex;
    background: #ff1f1f;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
  }

  ion-card-title {
    font-family: Spartan;
    color: #000000;
    font-weight: bold;
  }
}



ion-list {
  font-family: Spartan;
  background: transparent;
}

ion-item{
  font-family: Spartan;
  --padding-start: 0px;
  --padding-bottom: 0px;
  font-size: 25px;
}